<div class="places" style="background:#afcace">
  <div class="jumbotron section first-hero" id="first-hero-places">
    <h1>Let's Go Places</h1>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" ng-click="scrollTo('register-bradenton')">Register for a Bradenton Event</a>
    </li>
  </ul>
  
  <div class="section-container mt-100">
    <div class="container itn-green-bg">

    <div class="jumbotron section container mt-50" id="sarasota">
      <div class="itn-title mb-50">
        <h2>Bradenton Calendar & Activities</h2>
        <hr align="left" width="35%">
      </div>
      <a ng-click="redirectToURL(assetsPath + '/images/docs/Bradenton_Calendar.pdf')" role="link to sarasota calendar">
        <img ng-src="{{assetsPath}}/images/docs/Bradenton_Calendar.png" alt="Bradenton Calendar" class="center-block" style="width:90%"/>
      </a>
      
      <p>
        <h3 style="text-align:center">Bradenton<br>
        <em>November 2018</em></h3>
        <h4><em>Notes (**Indicates a Free or Low Cost Event or other discount):</em></h4>
        
        <p>**AMC Matinee- If you prefer to spend those hot summer days indoors, let us know what movie you’d like to see.</p>
          
        <p>**Blues Festival Concert- Free event featuring the Memphis Rub Band and Bridget Kelly Band! Bring a blanket or chair to sit on. **Culvers- From burgers to frozen custard they have something for everyone. Bring your calendar for a 15% discount!</p>
          
        <p>**Manatee Village Historical Park- A collection of historic buildings and artifacts which tell the story of pioneer life in Florida. Free admission, but donations are welcome.</p>
          
        <p>**Ellenton Outlets- Great for window shopping and offers some of the best deals in the area!</p>
          
        <p>**Mixon Fruit Farm & Wildlife Rescue- Take a tram tour through the groves, gardens & wildlife rescue. Tram tickets are $10.</p>
          
        <p>**Palmetto Historical Park- Take a tour through some of the oldest buildings in the area. Free admission, but donations are welcome.</p>
          
        <p>**Red Barn Flea Market- Enjoy the open air farmer’s market & hundreds of booths for finding hidden treasures.</p>
          
        <p>South Florida Museum- Visit the manatees, take in a show at the planetarium, or wander the exhibits. Tickets are $17.</p>
          
        <p>Symphony on the Sand- See the symphony performed on Anna Maria Island. Ticket range from $20-$125. Call the box office at 941- 795-2370 for tickets and be sure to bring a blanket or chair.</p>
          
        <p>**Village of the Arts- A mix of galleries & restaurants in a charming neighborhood. Take a stroll, grab a bite & be inspired!</p>
      </p>
    </div>
    
    <div class="jumbotron section container" id="register-bradenton">
      <div class="itn-title">
        <h2>Register for a Bradenton Event</h2>
        <hr align="left" width="35%">
      </div>
      
      <div class="jumbotron section container">
            <div class="form-area" style="margin:auto;border:none;width:70%"> 
              <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
                <br style="clear:both">
                        
                <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                  <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                  <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                  <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                  <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                  <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                  <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                  <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                  <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                    <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                </div>
                  
                <input type="submit" id="submit" ng-hide="loading" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
                <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
              
              </form>
            </div>
          <p ng-if="loading"><em>Loading. Please wait</em></p>
          <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
        </div><!--container-->
      
    
  </div><!--section-container-->
</div><!--places-->


<script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>