<div class="community-partners">
  <div class="jumbotron section .first-hero" id="first-hero-comm-partners">
    <h1>Community Partners</h1>
  </div><!--first-hero-->
  
  <div class="jumbotron section partners" style="background:White;padding:5%">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <a href="https://sarasotaarts.org/" target="_blank">
            <img ng-src="{{assetsPath}}/images/AllianceLogo.jpg" alt="alliance logo" style="width:300px;margin-top:75px;"/>
          </a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>