<div class="community-partners" style="padding:3%">
  <div class="jumbotron section .first-hero" id="first-hero-comm-partners">
    <h1>Community Partners</h1>
  </div><!--first-hero-->
  
  <div class="jumbotron section partners" style="background:White">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <img ng-src="{{assetsPath}}/images/HumanaElite.JPG" alt="humana elite logo" style="width: 100%;margin-left:20%"/>
        </div>
      </div>
    </div>
  </div>
</div>