
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnsuncoast/">
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img ng-src="{{assetsPath}}/images/icons/news-noword2.png" alt="newspaper icon"/>
            <ul>
              <li class="wow fadeInUp"><a href="http://pressroom.itnamerica.org/category/itnsuncoast/">Pressroom Blog</a></li>
              <li class="wow fadeInUp" data-wow-delay=".1s"><a ui-sref="contact({signup: true})"><strong>Sign up to our newsletter!</strong></a>
              </li>
            </ul>
          </div><!--pressroom-image-->
          </a>
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img ng-src="{{assetsPath}}/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Apr_2018.pdf')" role="link to newsletter">Newsletter April 2018</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/January_Newsletter_2018.pdf')" role="link to newsletter">Newsletter January 2018</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Dec_Newsletter_2017.pdf')" role="link to newsletter">Newsletter December 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2017.pdf')" role="link to newsletter">Newsletter November 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2017.pdf')" role="link to newsletter">Newsletter October 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Sept_2017.pdf')" role="link to newsletter">Newsletter September 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Aug_2018.pdf')" role="link to newsletter">Newsletter August 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/June_2017_Newsletter.pdf')" role="link to newsletter">Newsletter June 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_May_2017.pdf')" role="link to newsletter">Newsletter May 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2017.pdf')" role="link to newsletter">Newsletter November 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2017.pdf')" role="link to newsletter">Newsletter October 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Mar_2017.pdf')" role="link to newsletter">Newsletter March 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Feb_2017.pdf')" role="link to newsletter">Newsletter February 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Jan_2017.pdf')" role="link to newsletter">Newsletter January 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Dec_2016.pdf')" role="link to newsletter">Newsletter December 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2016.pdf')" role="link to newsletter">Newsletter November 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2016.pdf')" role="link to newsletter">Newsletter October 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Sep_2016.pdf')" role="link to newsletter">Newsletter September 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Aug_2016.pdf')" role="link to newsletter">Newsletter August 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_July_2016.pdf')" role="link to newsletter">Newsletter July 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_June_2016.pdf')" role="link to newsletter">Newsletter June 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_May_2016.pdf')" role="link to newsletter">Newsletter May 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Apr_2016.pdf')" role="link to newsletter">Newsletter April 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Feb_2016.pdf')" role="link to newsletter">Newsletter February 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Jan_2016.pdf')" role="link to newsletter">Newsletter January 2016</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Dec_2015.pdf')" role="link to newsletter">Newsletter December 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2015.pdf')" role="link to newsletter">Newsletter November 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2015.pdf')" role="link to newsletter">Newsletter October 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Sep_2015.pdf')" role="link to newsletter">Newsletter September 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Aug_2015.pdf')" role="link to newsletter">Newsletter August 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2015.pdf')" role="link to newsletter">Newsletter November 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2015.pdf')" role="link to newsletter">Newsletter October 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_July_2015.pdf')" role="link to newsletter">Newsletter July 2015</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Dec_2014.pdf')" role="link to newsletter">Newsletter December 2014</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Aug_2014.pdf')" role="link to newsletter">Newsletter August 2014</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_July_2014.pdf')" role="link to newsletter">Newsletter July 2014</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/ITNSarasotaNews.htm')" role="link to newsletter">Newsletter September 2013</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/summer-fall-newsletter-2012.pdf')" role="link to newsletter">Newsletter Summer/Fall 2012</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/FallWinter_Newsletter_2010-2011.pdf')" role="link to newsletter">ITNExpress Fall 2010 - Winter 2011</a>
            </li>
          </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>