
    <div class="news">
      
    <div class="jumbotron section first-hero">
      <h1>News</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section news-content">
      
        <div class="pressroom col-sm-6 row">
          <a href="http://pressroom.itnamerica.org/category/itnsuncoast/">
          <div class="col-sm-6 pressroom-image">
            <div class="pressroom-title"><h3>Pressroom</h3></div>
            <img ng-src="{{assetsPath}}/images/icons/news-noword2.png" alt="newspaper icon"/>
          </div><!--pressroom-image-->
          </a>
        </div><!--pressroom-->
      
      <div class="newsletter col-sm-6 row">
        <div class="col-sm-6 newsletter-content">
          <div class="newsletter-title"><h3>Newsletters</h3></div>
          <img ng-src="{{assetsPath}}/images/icons/news-noword.png" alt="press icon"/>
          <ul>
            <li class="wow fadeInUp" data-wow-delay=".1s" style="white-space:nowrap;font-size:30px;margin-bottom:10%"><a ui-sref="contact({signup: true})"><strong>**Sign up to our newsletter!**</strong></a>
            </li>

            <li class="wow fadeInUp">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_May_2018.pdf')" role="link to newsletter">Newsletter May 2018</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Apr_2018.pdf')" role="link to newsletter">Newsletter April 2018</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/January_Newsletter_2018.pdf')" role="link to newsletter">Newsletter January 2018</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Dec_Newsletter_2017.pdf')" role="link to newsletter">Newsletter December 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2017.pdf')" role="link to newsletter">Newsletter November 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2017.pdf')" role="link to newsletter">Newsletter October 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Sept_2017.pdf')" role="link to newsletter">Newsletter September 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Aug_2018.pdf')" role="link to newsletter">Newsletter August 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/June_2017_Newsletter.pdf')" role="link to newsletter">Newsletter June 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_May_2017.pdf')" role="link to newsletter">Newsletter May 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Nov_2017.pdf')" role="link to newsletter">Newsletter November 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Oct_2017.pdf')" role="link to newsletter">Newsletter October 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Mar_2017.pdf')" role="link to newsletter">Newsletter March 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Feb_2017.pdf')" role="link to newsletter">Newsletter February 2017</a>
            </li>
            <li class="wow fadeInUp" data-wow-delay=".1s">
              <a ng-click="redirectToURL(assetsPath + '/images/docs/newsletters/Newsletter_Jan_2017.pdf')" role="link to newsletter">Newsletter January 2017</a>
            </li>
          </ul>
        </div><!--newsletter-content-->
        
      </div><!--newsletter-->
      
      
      <div class="row">
  
  <div class="newsletter col-sm-6 row" style="margin-top:-35% !important">
    
    <div class="col-sm-6 newsletter-content special-events">
      <div class="newsletter-title"><h3>Special Events</h3></div>
      <img ng-src="{{assetsPath}}/images/icons/icon-events.png" alt="press icon"/>
      <ul>
        <li><a ng-click="redirectToURL(assetsPath + '/images/docs/special-events/GivingChallenge2018.pdf')" role="link to giving challenge 2018 flyer">Giving Challenge 2018</a></li>
        <li><a ng-click="redirectToURL(assetsPath + '/images/docs/special-events/2018NonEventEvent.pdf')" role="link to non-event event flyer">2018 Non-Event Event</a></li>
        <li><a ng-click="redirectToURL(assetsPath + '/images/docs/special-events/ITNSuncoast2017LuncheonProgram.pdf')" role="link to luncheon program pdf">ITN<em>Suncoast</em> 2017 Luncheon Program</a></li>
      </ul>
    </div><!--newsletter-content-->
    
  </div><!--newsletter-->
  
</div><!--row-->
      
      
    </div><!--news-content-->
    
  </div><!--news-->
  
  
  <script>
  new WOW().init();
  </script>