
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('advisory')">Advisory Council</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-50">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/SuzyPrymmer.jpg" alt="Suzy Prymmer Portrait"/>
            <h2>Suzy Prymmer</h2>
            <p class="title">Chair and Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Suzy Prymmer, has served as the Executive Director of Senior Assisted Living Residences. She was born and raised in Youngstown Ohio. Suzy has a Bachelor of Fine Arts from Youngstown State University, with a minor in advertising.  She is also Sarasota Core Trained and is a licensed Assisted Living Administrator in the State of Alabama. She has served on many boards and is looking forward to serving as Chairwoman of the ITN<em>Suncoast</em> Board.</p>
             <p>Suzy is married to Lee Prymmer, an engineer, for over 16 years and has a wonderful blended family of five children, Sarah, Jason, Elizabeth, Justin and Valerie, who have given them three handsome, high-spirited grandsons, William, Conner and Abram. In addition to loving her family, she also enjoys boating, fishing and knitting. Suzy’s passion for seniors is exceptional. Suzy has been in senior housing industry for 15 years and held several positions as executive director in Alabama and Florida.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/linda-davis.jpg" alt="Linda Davis portrait"/>
            <h2>Linda Davis</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Linda has been a seasonal resident of Sarasota for several years. During this period she has been involved increasingly in community activities. Linda is an ITN<em>SunCoast</em> volunteer driver, the newsletter and social chair for her neighborhood association, and coordinates colleague retiree events and communication.</p>
              <p> She has over 30 years of experience as an educator, teaching biology and being the gifted education liaison in her school district. Linda is an avid golfer and journey woman glass fusing artist. Linda has a particular interest in fundraising, communications and volunteer recruitment.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Don_Deibert.jpg" alt="Donald Deibert portrait"/>
            <h2>Donald Deibert</h2>
            <p class="title">Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Don Deibert moved to Lakewood Ranch in December 2015. He had lived in North Carolina for the previous 28 years. After his parents passed away, Don moved to Florida to be near his brother and family.</p>
              <p>Don has served on many Boards of Directors and has served as Treasurer. He currently manages a small family private foundation. He also coordinates the Road to Recovery Program in Buncombe County N.C., which transports cancer patients to their treatment appointments. He was Treasurer for a county-wide book reading organization in Buncombe County. He has been involved in many volunteer opportunities in North Carolina and now in Florida.</p>
              <p>Don started out and continues as a volunteer driver for ITN<em>SunCoast</em>. He offered to be on the Board of Directors and now has agreed to become the Treasurer. He is committed to our community and wants to give back. He feels that ITN Is a wonderful opportunity for seniors who can no longer drive. He lives full time in Florida.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        
        <div class="row mb-50">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/photo_soon.jpg" alt="Barbara Cogswell portrait"/>
            <h2>Barbara Cogswell</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio6 = !showBoardBio6">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio6">
              <p>Barbara Cogswell is the owner and franchiser of A Better Solution a home care service in Sarasota. This service is available for temporary and/or long term care for clients who may need assistance with tasks of daily activities in their own residence or in a facility.  Barbara attended the University of Nevada where she earned her Bachelor Degree in Accounting.  She is married with four children, two girls and two boys, ranging from 17 to 4 years of age. <p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/weldon.png" alt="Ann-Marie Weldon portrait"/>
            <h2>Ann-Marie Weldon</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio7 = !showBoardBio7">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio7">
              <p>Retired after 23 years in higher education at Johnson & Wales University, Providence, RI and Charlotte, NC where she was College Chair of The Hospitality College and Associate Professor. Born in North Providence, RI where she also worked in the hotel industry at The Johnson & Wales Inn, The Radisson Airport Hotel, The Ramada Inn in Portsmouth, RI, The Westin Hotel, Providence and the Providence Biltmore.  Relocated to Venice, FL where she drives for iTN-Sarasota and works at the American Legion NOVEL Post 159 in Venice.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/JohnCraumer.jpg" alt="John Craumer portrait"/>
            <h2>John Craumer</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio8 = !showBoardBio8">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio8">
              <p>Board member John Craumer is a thirty year resident of Sarasota. He retired from a long career in retail. A native of Allentown, PA, John began his career in McCrory’s Department store. He was vice president and regional manager of Lane Bryant. In Sarasota John served as the General Manager for Savon Furniture. He is an avid golf fan.  In addition to serving as an ITN Board Member, John conducts member surveys and provides us with valuable feedback from our riders. <p>
            </div>
          </div>

        </div><!--row-->
        
        
        <div class="row mb-50">  
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/JudyWeinstein.jpg" alt="Judy Weinstein portrait"/>
            <h2>Judy Weinstein</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio9 = !showBoardBio9">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio9">
              <p>Judy Weinstein, who is originally from Des Moines, Iowa, has lived on Sarasota for over 26 years where she enjoys the varied cultural and social opportunities available in the area. She volunteers for several organizations and serves on many boards.  Judy has three sons and three grandchildren.  She enjoys a variety of literature and is an avid reader. <p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/photo_soon.jpg" alt="Nancy Bobbitt portrait"/>
            <h2>Nancy Bobbitt PT, CMC</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio10 = !showBoardBio10">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio10">
              <p>Nancy Bobbitt PT, CMC is owner and president of Senior Healthcare Management.  She works as an Aging Life Care Professional assisting older adults and their families navigate the journey of aging in our complex healthcare system.  She is passionate about assisting her clients as an advocate, guide and resource as they face healthcare challenges.  She has extensive experience in Geriatrics, having worked as a Physical Therapist and Care Manager in acute rehab, home health and nursing home settings for over 27 years.</p>
              <p>She graduated Cum Laude with Bachelor of Science degree in Physical Therapy from Northeastern University in Boston.  She hold a National Certification as a Certified Care Manager, is an active member in the Aging Life Care Association and is certified as a Fall Prevention Specialist. </p>
              <p>She lives in Sarasota with her husband Russ and their 3 sons</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/harshman.png" alt="Michael S. Harshman portrait"/>
            <h2>Michael S. Harshman</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio11">
              <p>Michael S. Harshman is a partner in Betras, Kopp & Harshman.  He earned a Juris Doctorate from the University of Texas School of Law and a Bachelor’s Degree from Ohio State University. His areas of practice are Personal Injury Law and General Litigation. Michael pioneered the marketing of legal services through the electronic media. He and others changed the law so that attorneys were permitted to provide information to the public regarding what services attorneys offered. Michael is married to Ruth; he has four daughters and one son. He is an instrument rated pilot who enjoys sailing, skiing, bicycling and tennis.<p>
            </div>
          </div>

        </div><!--row-->
        
        
        <div class="row mb-50">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/RichardSandler.jpg" alt="Richard C. Sandler portrait"/>
            <h2>Richard C. Sandler</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio12 = !showBoardBio12">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio12">
              <p>Rick Sandler is President of the Insight Group, a full-service research and strategic planning company based in Boston, MA and Sarasota, FL.  The company provides qualitative and quantitative research for clients in a variety of sectors, including: technology, health care, tourism, retail, health care and automotive. </p>

              <p>Prior to forming this company, Rick served as research director for several large advertising agencies in New York and Boston. Key clients have included: Beverly Hospital, Lahey Clinic, IHA (Institute for Health Care Advancement), Massachusetts Office of Travel & Tourism (MOTT), MEFA (the Massachusetts Education Finance Authority), Bentley College, Massport (Massachusetts Port Authority), Kmart, Staples, Home Goods and many others.</p>

              <p>Rick was an Adjunct Professor of Market Research at Boston University for five years. He has also taught at Bentley College, Suffolk University and at the Arthur D. Little Management Education Institute. <p>
            </div>
          </div><!--col-sm-4-->
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/photo_soon.jpg" alt="Rita Raimer portrait"/>
            <h2>Rita Raimer</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio13 = !showBoardBio13">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio13">
              <p>Rita Raimer, age 56, retired from Ohio Department of Public Safety, a law enforcement agency, as the agent in charge of Akron District regional office.  She held positions of increasing responsibility with proven results cooperating with local police Chiefs state and federal law enforcement agencies on large-scale investigations involving alcohol, food stamp fraud, gambling and  business violations in  liquor establishments .</p>

              <p>After retirement she operated a small transportation business, Ready Ride Transportation, providing 120 rides per month driving 5000 miles each month growing the business successfully over 3 years.</p>

              <p>Currently, she is involved with three different volunteer organizations predominantly helping seniors with their living needs and transportation. Rita holds a Bachelor of Arts from the Ohio State University with a focus of criminal justice.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/photo_soon.jpg" alt="Samantha Hersch portrait"/>
            <h2>Samantha Hersch</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio14 = !showBoardBio14">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio14">
              <p>Samantha Hersch is the Publisher of Seniors Blue Book and SeniorsBlueBook.com. We provide resource guides for seniors, caregivers and senior professionals. We currently serve 24 markets throughout the United States. The Seniors Blue Book began franchising in January 2013. Samantha publishes two directories in Florida one serving Lee and Collier Counties and the other serving Sarasota, Manatee and Charlotte Counties.</p>
              <p> My goal is to create a powerful network for senior professionals and organizations to connect with local seniors and their adult children through our printed guide, website and informative events called SBB University and Networking meetings for Senior Professionals.<p>
            </div>
          </div>

        </div><!--row-->
        
      </section>
        
      <section id="advisory">
        <div class="row ta-center" style="padding:5%">
          <h1>Advisory Council</h1>
          <ul style="list-style-type:none;font-size:25px;font-weight:bold;">
            <li>Pam Baron</li>
            <li>Heidi Goodman</li>
            <li>Wendy Hopkins</li>
            <li>Kathleen Houseweart</li>
            <li>Michael Juceam</li>
            <li>Donald Kayton</li>
            <li>Art Mahoney</li>
            <li>Stacy Prouty</li>
            <li>Steve Roskamp</li>
            <li>Nancy Schlossberg</li>
            <li>Ina Schnell</li>
            <li>Jim Shirley</li>
            <li>Jeannette Watling-Mills</li>
          </ul>
        </div><!--row-->
      </section>
    
      
      
      <section class="org-section" id="staff">
        <h1>Staff</h1>
        <div class="container">

          <div class="row mb-50">
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/Lerman.jpg" alt="Arthur Lerman portrait"/>
              <h2>Arthur Lerman</h2>
              <p class="title"><strong>Executive Director</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio15 = !showBoardBio15">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio15">
                <p>Arthur Lerman serves as the Executive Director and Chair of the Board of Directors of ITN<em>SunCoast</em>. He has over twenty years of experience in providing services to seniors and managing non-profit organizations. He has been particularly successful in growing both non-profit organizations and for-profit businesses and in developing innovative programs. Arthur has managed a home health agency, assisted living facilities and nursing homes. </p>
                <p>He was the executive director of non-profit organizations that provide services to individuals with intellectual and developmental disabilities. He has consulted with states and counties across the country on their long term care and behavioral health programs. Arthur received a B.A from Clark University in Worcester, MA and a Masters Degree from the University of Pennsylvania.</p>
                <p>As an elected official, Arthur served two terms as a member of the State of Maine House of Representatives. He was a member of the Appropriations and Taxation Committees, founded and chaired the Developmental Disabilities Caucus, was House Lead on Joint Select Committee on Property Tax Reform, and served as the House Chair of Study Commission Regarding Livable Wages. Arthur introduced numerous bills related to health care and environmental protection and was even able to get some legislation enacted.</p>
                <p>Since moving to the Sarasota area, Arthur has served on the Sarasota County Seniors Advisory Council and been on the Board of Directors of the Area Agency on Aging of Southwest Florida. He also was the facilitator of the HealthCare Workgroup, an affiliate of SCOPE and participates in the Stakeholders in Aging Consortium.</p>
              </div>
            </div>
        
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/StacyProuty.jpg" alt="Stacy Prouty portrait"/>
              <h2>Stacy Prouty</h2>
              <p class="title"><strong>Director of Development & Marketing</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio16 = !showBoardBio16">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio16">
                <p>Stacy Prouty is Director of Development and Marketing.  She has 25 years of experience in local for profit and not for profit marketing and marketing research, communications and development. She has six years serving seniors in management and consulting roles with ITN<em>SunCoast</em>, Institute for the Ages, Aviva-A Campus for Senior Life, as well as in her consulting firm Boomers and Beyond Research & Strategy.</p>
              </div>
            </div>

            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/JenniferMcDonald.jpg" alt="Jennifer McDonald portrait"/>
              <h2>Jennifer McDonald</h2>
              <p class="title"><strong>Volunteer Coordinator & <br> Development Manager</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio17 = !showBoardBio17">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio17" style="margin-right:7%">
                <p>Jennifer is the Volunteer Coordinator and Development Manager.  She has over 20 years of development experience including positions with Mote Aquarium and Laboratories, Cardinal Mooney High School and The Lyric Opera of Chicago. Her knowledge of  donor relations, volunteer recruitment and retention, annual giving, legacy giving and administration will help advance the mission and vision of ITN<em>Suncoast</em>.</p>
              </div>
            </div>
            
          </div><!--row-->
          
          <div class="row mb-100">
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/MeganRadish.jpg" alt="Megan Radish portrait"/>
              <h2>Megan Radish</h2>
              <p class="title"><strong>Administrative Assistant & Special Events Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio18 = !showBoardBio18">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio18">
                <p>Megan Radish just recently returned to Southwest Florida after spending a decade working in professional theatres all over the country as a stage manager and props artist.  She's glad to be putting some of those skills to use for such a good cause as the Administrative Assistant and Special Events Coordinator for ITN<em>SunCoast</em>.</p>
              </div>
            </div>
        
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/RichHenderson.jpg" alt="Rich Henderson portrait"/>
              <h2>Rich Henderson</h2>
              <p class="title"><strong>Scheduling Coordinator</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio19 = !showBoardBio19">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio19">
                <p>Richard Henderson is Dispatch and Scheduling Coordinator.  He has more than six years’ experience managing and scheduling transportation as well as driving in the region. He is responsible for dispatching and scheduling, as well as overall member and volunteer service excellence.</p>
              </div>
            </div>

            
          </div><!--row-->
          
          
    </div><!--container-->  
  </section>
            
    
      <section class="org-section" id="start">
        <img class="itn-icon" ng-src="{{assetsPath}}/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" ng-src="{{assetsPath}}/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

