
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" ng-click="scrollTo('staff')">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/SuzyPrymmer.jpg" alt="Suzy Prymmer Portrait"/>
            <h2>Suzy Prymmer</h2>
            <p class="title">Chair</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Suzy Prymmer, Executive Director of Savannah Grand of Sarasota, was born and raised in Youngstown Ohio. Suzy has a Bachelor of Fine Arts from Youngstown State University, with a minor in advertising.  She is also Sarasota Core Trained and is a licensed Assisted Living Administrator in the State of Alabama. She has served on many boards and is looking forward to serving as Chairwoman of the ITNSuncoast Board. </p>
              <p>Suzy is married to Lee Prymmer, an engineer, for over 16 years and has a wonderful blended family of five children, Sarah, Jason, Elizabeth, Justin and Valerie, who have given them three handsome, high-spirited grandsons, William, Conner and Abram. In addition to loving her family, she also enjoys boating, fishing and knitting. Suzy’s passion for seniors is exceptional. Suzy has been in senior housing industry for 15 years and held several positions as executive director in Alabama and Florida.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/linda-davis.jpg" alt="Linda Davis portrait"/>
            <h2>Linda Davis</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Linda has been a seasonal resident of Sarasota for several years. During this period she has been involved increasingly in community activities. Linda is an ITNSunCoast volunteer driver, the newsletter and social chair for her neighborhood association, and coordinates colleague retiree events and communication. </p>
              <p>She has over 30 years of experience as an educator, teaching biology and being the gifted education liaison in her school district. Linda is an avid golfer and journey woman glass fusing artist. Linda has a particular interest in fundraising, communications and volunteer recruitment.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Don_Deibert.jpg" alt="Donald Deibert portrait"/>
            <h2>Donald Deibert</h2>
            <p class="title">Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Don Deibert moved to Lakewood Ranch in December 2015. He had lived in North Carolina for the previous 28 years. After his parents passed away, Don moved to Florida to be near his brother and family.</p>

              <p>Don has served on many Boards of Directors and has served as Treasurer. He currently manages a small family private foundation. He also coordinates the Road to Recovery Program in Buncombe County N.C., which transports cancer patients to their treatment appointments. He was Treasurer for a county-wide book reading organization in Buncombe County. He has been involved in many volunteer opportunities in North Carolina and now in Florida.</p>

              <p>Don started out and continues as a volunteer driver for ITNSunCoast. He offered to be on the Board of Directors and now has agreed to become the Treasurer. He is committed to our community and wants to give back. He feels that ITN Is a wonderful opportunity for seniors who can no longer drive. He lives full time in Florida.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
        
        
        <div class="row mb-100">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/DiannaKHolmes.jpg" alt="Dianna Holmes Gray portrait"/>
            <h2>Dianna Holmes Gray</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio4 = !showBoardBio4">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio4">
              <p>Spending most of her life in the Long-Term Care, Assisted Living and Home Care industry, Dianna Holmes Gray is a Master’s Level Social Worker, Licensed Nursing Home Administrator and National Certified Care Manager. Dianna received a B.A. from Wright State University in Dayton, Ohio and a Master’s Degree in Social Work Administration with a concentration in Alzheimer’s and Dementia Care from The Ohio State University.</p>

              <p>Dianna has focused her career on opening and leading newly built Senior Living Communities including Independent Living, Assisted Living and Long-Term/Short-Term Nursing and Rehabilitation Centers in Ohio, Indiana and Florida.</p>

              <p>Born and raised in Ohio, Dianna moved to Florida from Fort Wayne, Indiana in January 2015. Formerly an Executive Director for an Assisted Living Community in Sarasota, Dianna is a Social Worker for Tidewell Hospice.</p>

              <p>Dianna enjoys serving others, especially Seniors, in the beautiful sunshine state of Florida and lives in Venice with her husband Duane. They enjoy spending time at the beach and savoring the beauty of this wonderful Suncoast area.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Christina_Spier.jpg" alt="Christina Speir portrait"/>
            <h2>Christina Speir</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio5 = !showBoardBio5">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio5">
              <p>Christina Speir is Vice President of Professional Relations at Tidewell Hospice in Sarasota, Florida. She has a Master’s Degree in Business Administration and a Bachelor’s Degree in Communication Sciences and Disorders. Christina has a strong background in healthcare, management and volunteer background. She has worked for Tidewell Hospice for 10 years and has served as chairs on committees for the American Cancer Society and the Humane Society.<p>
            </div>
          </div>
          
          <div class="col-sm-4">
          </div><!--col-sm-4-->

        </div><!--row-->
        
    
      </section>
      
      
      <section class="org-section" id="staff">
        <h1>Staff</h1>
        <div class="container">

          <div class="row mb-100">
            <div class="col-sm-4">
              <!-- <img ng-src="{{assetsPath}}/images/board/Phyllis.png" alt="Phyllis Gouine portrait"/>
              <h2>Phyllis Gouine</h2>
              <p class="title"><strong>Office Manager</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio11">
                <p>I am married and have been for 20 years to my husband Erik. We have raised two boys, our son Dylan who is 19 and my nephew Christopher, who is 16. We moved to Georgia from Michigan in 1994 to take care of a relative. After which, we ended up deciding to stay here and raise our family.  I’ve enjoyed being a Cub Scout assistant Den Leader and a Little League team mom when my boys were younger. </p>
                <p>I spent 4 years with the wrestling booster club raising funds for our teams. I went to college for Accounting at Lanier Technical Institute. I enjoy hiking, camping, kayaking and I love music. We live out in the country in the beautiful Georgia Mountains.  I am an animal lover and I would house an animal rescue if possible! I really enjoy helping others and I prefer to give rather than to receive. Working for iTN Lanier has been very rewarding and I absolutely love my job!</p>
              </div> -->
            </div>
        
            <div class="col-sm-4"></div>

            <div class="col-sm-4"></div><!--marginright 7% on showBoardBio for this one>
          </div><!--row-->
    </div><!--container-->  
  </section>
            
    
      <section class="org-section" id="start">
        <img class="itn-icon" ng-src="{{assetsPath}}/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" ng-src="{{assetsPath}}/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

