<div class="places" style="background:#afcace">
  <div class="jumbotron section first-hero" id="first-hero-places">
    <h1>Let's Go Places</h1>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" ui-sref="program-details">Program Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="sarasota">Sarasota Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="venice">Venice Activities</a>
    </li>
  </ul>
  
  <div class="section-container mt-100">
    <div class="container itn-green-bg">
    <div class="jumbotron section container">
      <div class="itn-title">
        <h2>Introducing <em>Let’s Go Places!</em></h2>
        <hr align="left" width="35%">
      </div>
      
      <p>Staying engaged and connected is an important part of staying healthy! ITNSunCoast is introducing <strong><em>Let’s Go Places!</em></strong> so you can get out to do the things you need and want to do while enjoying our beautiful area and all it has to offer.</p>

      <p><strong><em>Let’s Go Places!</em></strong> provides an exciting monthly calendar of events - going to the theater, art openings movies and other cultural events; shopping for necessities and fun; eating out at local restaurants; attending community events; and going to local attractions. You will be picked up at your home, share the ride with a few others, go to the specified destination, and be given a ride home at the time set on the schedule. And, if there is a specific place you would like to go, please let us know!</p>

      <p>Door-to-door, round-trip rides to scheduled events will cost $15 with some noted exceptions. As an added benefit, we are negotiating discounts for Let’s Go Places! participants at local businesses to get you real bargains and keep the cost of getting out affordable.</p>

      <p>You are the first in the country to try <strong><em>Let’s Go Places!</em></strong> We are piloting the program in Sarasota and Venice in June and will expand to other parts of our service area in the near future.</p>

      <p><strong><em>Let’s Go Places!</em></strong> together. This service is open to anyone age 60+. ITNSunCoast membership is not required. For more information, please call us at (941) 364-7530.</p>
    </div>
    
  
    
    
    <div class="jumbotron section container">
          <div class="form-area" style="margin:auto;border:none;width:70%"> 
            <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
              <br style="clear:both">
              <p style="text-align:center">Please contact us below for more information about Member Programs</p>
              <hr align="center" class="orange-hr">
                      
              <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                  <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
              </div>
                
              <input type="submit" id="submit" ng-hide="loading" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
              <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
            
            </form>
          </div>
        <p ng-if="loading"><em>Loading. Please wait</em></p>
        <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
      </div><!--container-->
    
    
  </div><!--section-container-->
</div><!--places-->


<script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>