<div class="places" style="background:#afcace">
  <div class="jumbotron section first-hero" id="first-hero-places">
    <h1>Let's Go Places</h1>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" ui-sref="places">Let's Go Places</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="sarasota">Sarasota Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="venice">Venice Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="bradenton">Bradenton Activities</a>
    </li>
  </ul>
  
  <div class="section-container mt-100">
    <div class="container itn-green-bg">
  
    
    <div class="jumbotron section container mt-50" id="program">
      <div class="itn-title mb-50">
        <h2 style="font-size:35px">Let's Go Places</h2>
        <hr align="left" width="35%">
      </div>
      <h3>Let's Go Places! gives seniors access to numerous activities monthly.</h3>
      <h3>What You Need To Know:</h3>

      <ul>
        <li>You will receive a monthly calendar of activities through the mail or email.</li>
        <li>You need to be 60+ to participate.</li>
          <ul>
            <li>Being an ITNSunCoast member is not a requirement.</li>
          </ul>
        <li>You need to make a reservation at least 3 business days before the scheduled event you want to go to:</li>
          <ul>
            <li>By calling ITNSunCoast at (941)364-7530</li>
          </ul>
        <li>By email to info@itnsuncoast.org</li>
        <li>You can find the description of scheduled activities after the monthly calendar. Special discounts are noted.</li>
        <li>Payment:</li>
          <ul>
            <li>If you are an ITNSunCoast member, the charge will be on your monthly statement.</li>
            <li>If you are not an ITNSunCoast member, you need to pay when you make the reservation.</li>
          </ul>
        <li>ITNSunCoast reserves the option to cancel an activity if not enough people register.</li>
        <li>If you have email, you may receive special opportunities during the month.</li>
        <li>Gather a few friends and go out and have some fun!</li>
        <li>Please let us know your ideas on where you would like to go!</li>
      </ul>
      
    </div>
    
    
    <div class="jumbotron section container">
      <hr align="center" class="orange-hr">
          <div class="form-area" style="margin:auto;border:none;width:70%"> 
            <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
              <br style="clear:both">
              <p style="text-align:center"><strong>Please Contact Us About Information About <em>Let's Go Places</em>!</strong></p>
              <hr align="center" class="orange-hr">
                      
              <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                  <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
              </div>
                
              <input type="submit" id="submit" ng-hide="loading" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
              <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
            
            </form>
          </div>
        <p ng-if="loading"><em>Loading. Please wait</em></p>
        <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
      </div><!--container-->
    
    
  </div><!--section-container-->
</div><!--places-->


<script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>