<div class="places" style="background:#afcace">
  <div class="jumbotron section first-hero" id="first-hero-places">
    <h1>Let's Go Places</h1>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" ng-click="scrollTo('register-sarasota')">Register for a Sarasota Event</a>
    </li>
  </ul>
  
  <div class="section-container mt-100">
    <div class="container itn-green-bg">

    <div class="jumbotron section container mt-50" id="sarasota">
      <div class="itn-title mb-50">
        <h2>Sarasota Calendar & Activities</h2>
        <hr align="left" width="35%">
      </div>
      <a ng-click="redirectToURL(assetsPath + '/images/docs/Sarasota_Calendar.pdf')" role="link to sarasota calendar">
        <img ng-src="{{assetsPath}}/images/docs/Sarasota_Calendar.png" alt="Sarasota Calendar" class="center-block" style="width:90%"/>
      </a>
      
      <p>
        <h3 style="text-align:center">Sarasota<br>
        <em>July 2, 2018 to July 31, 2018</em></h3>
        <p>**Culvers- From burgers to frozen custard they have something for everyone.  Bring your calendar for a 15% discount!</p>

        <p>**Cuban Ballet School Showcase- See the students showcase their skills. Ticket are $25, call the box office at 328-1300.</p>

        <p>**Downtown Sarasota– Stroll through Downtown Sarasota, and check out some of their unique stores and restaurants.</p>

        <p>**Fireworks at Nathan Benderson Park- Free Event with live music and fireworks.  Bring something to sit on if you’d like.</p>

        <p>**Florida Studio Theatre- Music of the Night: The Swingaroos jazz up Broadway favorites. Call 366-9000 for tickets!</p>

        <p>**Gone With the Wind Screening- The classic film is going to be screened at the Sarasota Opera House.  Tickets are $10.</p>

        <p>**Ringling Museum– A fantastic collection of European art, it’s FREE on Mondays!  Call 360-7399 for tickets!</p>

        <p>**Ringling College Galleries- See illustrations from Octavio Perez or new work by the Trustee Scholars amongst others.</p>

        <p>Sarasota Players- Tops from Flops is a revue of some of the most treasured Broadway tunes from some of its biggest flops. Call 365-2494 for tickets!</p>

        <p>**Senior Friendship Center- Enjoy singing? Come and try your hand at karaoke! Free Admission!</p>

        <p>**UTC Mall- With over 100 stores and restaurants it’s a window shopper’s dream!</p>

        <p>**Vintage & Collectibles Fair- Books, antiques & more. $3 Entry!</p>
      </p>
      
    </div>
    
    <div class="jumbotron section container" id="register-sarasota">
      <div class="itn-title">
        <h2>Register for a Sarasota Event</h2>
        <hr align="left" width="35%">
      </div>
      
      <div class="jumbotron section container">
        <hr align="center" class="orange-hr">
            <div class="form-area" style="margin:auto;border:none;width:70%"> 
              <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
                <br style="clear:both">
                <p style="text-align:center"><strong>Please contact us below for more information about Member Programs</strong></p>
                <hr align="center" class="orange-hr">
                        
                <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                  <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                  <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                  <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                </div>
              
                <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                  <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                  <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                  <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                  <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                  <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                  <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                  <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                    <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
                </div>
                  
                <input type="submit" id="submit" ng-hide="loading" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
                <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
              
              </form>
            </div>
          <p ng-if="loading"><em>Loading. Please wait</em></p>
          <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
        </div><!--container-->
      
    
  </div><!--section-container-->
</div><!--places-->


<script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>