<div class="places" style="background:#afcace">
  <div class="jumbotron section first-hero" id="first-hero-places">
    <h1>Let's Go Places</h1>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" ng-click="scrollTo('register-venice')">Register for a Venice Event</a>
    </li>
  </ul>
  
  <div class="section-container mt-100">
    <div class="container itn-green-bg">
  
    <div class="jumbotron section container" id="venice">
      <div class="itn-title mb-50">
        <h2>Venice Calendar & Activities</h2>
        <hr align="left" width="35%">
      </div>
      <a ng-click="redirectToURL(assetsPath + '/images/docs/Venice_Calendar.pdf')" role="link to venice calendar">
        <img ng-src="{{assetsPath}}/images/docs/Venice_Calendar.png" alt="Venice Calendar" class="center-block" style="width:90%"/>
      </a>
      <p>
        <h3 style="text-align:center">Venice<br>
        <em>July 4, 2018 to July 31, 2018</em></h3>
        <p>**Christmas in July Craft Show- Great deals from local vendors so you can finally get a jump on this year’s Christmas shopping.  Free Event!</p>

        <p>**Christmas in July Downtown- Check out the sales downtown, sign up for a raffle, meet with Santa or take a trolley ride</p>

        <p>**Culvers- From burgers to frozen custard they have something for everyone.</p>

        <p>**Fourth of July Fireworks- Go out to the beach to see the fireworks display! Free Event!</p>

        <p>**Galleria Matinee- $6 Movies! If you prefer to spend those hot summer days indoors, let us know what movie you’d like to see.</p>
        <p>Habitat ReStore & Lunch- Get in some shopping at the ReStore where they have everything from clothing to furniture and then go to lunch at a TBA location.</p>
        <p>**Historic Spanish Point- Come see the gardens at a special Let’s Go Places price of $10 for first time riders.</p>
        <p>Myakka Wildlife Airboat Tour- See our local flora and fauna in a unique way. Tours are $15.</p>
        <p>**Senior Friendship Center– Live music and dancing with the Let’s Do It Band. Concerts are $7 for non-members. The Sprouts Program provides FREE produce to seniors.</p>
        <p>**Venice Farmer’s Market- An eclectic mix of local produce, plants, crafts and artwork, ready-made delicacies and more! </p>
        <p>**Venice Museum- A collection pertaining to area history, housed in the historic Triangle Inn. FREE!</p>
      </p>
    </div><!--jumbo-->
    
    
    <div class="jumbotron section container">
      <hr align="center" class="orange-hr">
          <div class="form-area" style="margin:auto;border:none;width:70%"> 
            <form name="itnForm" novalidate ng-submit="submitForm('contact')" role="contact form" ng-model="formData">
              <br style="clear:both">
              <p style="text-align:center"><strong>Please contact us below for more information about Member Programs</strong></p>
              <hr align="center" class="orange-hr">
                      
              <div class="form-group" ng-class="{ 'has-error' : itnForm.name.$invalid && !itnForm.name.$pristine }">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-minlength="minlength" ng-maxlength="maxlength" ng-model="formData.name" required>
                <span ng-if="itnForm.name.$error.required && !itnForm.name.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.name.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.name.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                <input type="text" class="form-control" id="email" name="email" ng-pattern="emailPattern" placeholder="Email" ng-model="formData.email" required>
                <span ng-if="itnForm.email.$error.required && !itnForm.email.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
              </div>
            
              <div class="form-group" ng-class="{ 'has-error' : itnForm.mobile.$invalid && !itnForm.mobile.$pristine }">
                <input type="text" class="form-control" id="mobile" name="mobile" ng-pattern="phonePattern" placeholder="Mobile Number. Example: 617-344-9876" ng-model="formData.phone" required>
                <span ng-if="itnForm.mobile.$error.required && !itnForm.mobile.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.mobile.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.subject.$invalid && !itnForm.subject.$pristine }">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="formData.subject" ng-minlength="minlength" ng-maxlength="maxlength" required>
                <span ng-if="itnForm.subject.$error.required && !itnForm.subject.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.subject.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.subject.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : itnForm.message.$invalid && !itnForm.message.$pristine }">
                <textarea class="form-control" type="textarea" name="message" id="message" placeholder="Message" maxlength="2000" rows="7" ng-minlength="minlength" ng-maxlength="maxMsgLength" ng-model="formData.messageBody" required></textarea>
                <span ng-if="itnForm.message.$error.required && !itnForm.message.$pristine" class="help-block">{{errorMessages.required}}</span>
                <span ng-if="itnForm.message.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                <span ng-if="itnForm.message.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                  <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>                    
              </div>
                
              <input type="submit" id="submit" ng-hide="loading" class="btn btn-lg btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
              <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg pull-right itn-green-bg"  style="margin-left:2%">
            
            </form>
          </div>
        <p ng-if="loading"><em>Loading. Please wait</em></p>
        <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
      </div><!--container-->
    
  
    
  </div><!--section-container-->
</div><!--places-->


<script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});
</script>